<div class="container">
  <h2>Мини-проект “social network”</h2>
  <p>Реализовать Single page application, используя тестовое API https://jsonplaceholder.typicode.com/. По умолчанию считаем, что текущий пользователь имеет ID=1 и автоматически авторизован.</p>

<h3>Фичи проекта:</h3>
<h4>Лента постов (posts)</h4>
<p>
  Вывести список всех постов в стиле соц.сети (Сделать рандомизацию порядка при выводе):
</p>
  <ul>
    <li>Тайтл;</li>
    <li>текст;</li>
    <li>Общая информация об авторе;</li>
    <li>Список комментариев по запросу.</li>
    <li>Пагинация или автоподгрузка по постам, по 20 штук на странице (реализовать на фронт-сайде т.к REST не поддерживает пагинацию)</li>
    <li>Добавление нового поста.</li>
    <li>Удаление собственных постов.</li> 
  </ul>

<h4>Альбомы</h4>
<p>
  Список моих альбомов - Название, кол-во контента, превью.
  Страница конкретного альбома
  Список контента: Превью, Название
  Пагинация или автоподгрузка по 20 штук.
  Просмотр конкретной фотографии в оригинальном размере.
  Пагинация или автоподгрузка по 20 штук на странице 
  Удаление альбома
  Контент в ресурсе https://jsonplaceholder.typicode.com/photos не работает, поэтому вместо url и thumbnailUrl нужно использовать несколько рандомных локальных изображений.
</p>

<h4>Требования к проекту:</h4>
<p>
  Использование Webpack для сборки и запуска проекта
  Использование NPM для установки зависимостей (все зависимости должны быть в node_modules)
  Рабочий роутинг для SPA с history браузера. Должны быть доступны урлы
  / - Главная страница. Лента постов
  /albums/ - Список альбомов
  /albums/id/ - Карточка альбома с просмотром контента
  Использование Bootstrap
  Использование ES6
  Использование современного JS фреймворка. Плюсом будет использование MarionetteJS (На нем пишется наш проект.)
</p>
</div>